/desktop/build/
/desktop/.nb-gradle/
/core/build/
/core/.nb_gradle/
/html/build/
\.gradle/
\.nb-gradle/
\.nb_gradle-properties
\local.properties
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
\.nb-gradle-properties

android/libs/
android/assets/map/*/
